.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  margin: 5em 0em auto;
  padding: 2em 0em;  
  bottom: 0;
  width: 100%;  
  background-color: #1b1c1d;
  color: rgba(255,255,255,.9)
}

.img_timer{
  max-height: 15vh;
}

.img_timer > img {
  max-height: 15vh;
}